@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  .light {
    --background: 287 100% 95%;
    --foreground: 287 5% 10%;
    --card: 287 50% 90%;
    --card-foreground: 287 5% 15%;
    --popover: 287 100% 95%;
    --popover-foreground: 287 100% 10%;
    --primary: 287 52% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 287 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 249 30% 85%;
    --muted-foreground: 287 5% 40%;
    --accent: 249 30% 80%;
    --accent-foreground: 287 5% 15%;
    --destructive: 0 100% 42%;
    --destructive-foreground: 287 5% 90%;
    --border: 287 30% 50%;
    --input: 287 30% 42%;
    --ring: 287 52% 56%;
    --radius: 0.3rem;
  }
  :root {
    --background: 287 50% 10%;
    --foreground: 287 5% 90%;
    --card: 287 50% 10%;
    --card-foreground: 287 5% 90%;
    --popover: 287 50% 5%;
    --popover-foreground: 287 5% 90%;
    --primary: 287 52% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 287 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 249 30% 25%;
    --muted-foreground: 287 5% 60%;
    --accent: 249 30% 25%;
    --accent-foreground: 287 5% 90%;
    --destructive: 0 100% 42%;
    --destructive-foreground: 287 5% 90%;
    --border: 287 30% 42%;
    --input: 287 30% 42%;
    --ring: 287 52% 56%;
    --radius: 0.3rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.timeline {
  display: flex;
  flex-direction: column; /* Stack rows vertically */
  padding: 20px 0;
}

.timeline-row {
  display: flex; /* Row layout */
  justify-content: space-between; /* Space items evenly */
  margin: 10px 0; /* Space between rows */
}

.timeline-row:nth-child(odd) {
  flex-direction: row-reverse; /* Reverse the direction for odd rows */
}

.timeline-item {
  flex: 1; /* Grow to fill the row */
  margin: 0 5px; /* Space between items */
}

.timeline-item-content {
  background: var(--card-bg); /* Use your theme's card background color */
  padding: 20px; /* Padding for the card */
  border-radius: 10px; /* Rounded corners */
  box-shadow: var(--shadow); /* Use your theme's shadow style */
  transition: background-color 0.3s; /* Transition for hover effect */
  text-align: center; /* Center text in the card */
}

/* Optional: Add hover effect */
.timeline-item-content:hover {
  background: var(--hover-bg); /* Change to your hover color */
}
